{% extends "base.html" %}
{% block content %}
<br>
<ul>
  <div class='feed_items' >
    {% for post in object_list %}
    <div class="card" style="width: 30rem;">
      <div class="card-header">
      {% if profile.profile_pic %} 
        <img src="{{post.author.profile_pic.url}}" 
        class="card-img-top img-fluid rounded-circle" alt="profile pic" style="width:10%; height:10%">
      {% else %}
        <img src="/media/images/pawsse_heart.png" 
       class="card-img-top img-fluid rounded-circle" alt="profile pic" style="width:10%; height:10%">
       {% endif %}
        <strong>{{post.author.username}}</strong>
      </div>
      <a href="/postdetail/{{post.id}}/"><img src="{{ post.image_file.url }}"
        class="card-img-top" alt="{{ post.caption }}"></a>
      <div class="card-body">
        {% if request.user.is_authenticated %}
        <form id="card-buttons "method="post">
          {% csrf_token %}
          <div class=buttons>
          {% if not request.user in post.liked.all %}
            <button class="btn like" name="redirect_url" value="{{request.path}}" formaction="/like/{{post.id}}/"><img class="heart" src="static/imagenes/pawsse_heart.png"></button>
          {% else %}
            <button class="btn like" name="redirect_url" value="{{request.path}}" formaction="/unlike/{{post.id}}/"><img class="heart" src="static/imagenes/filled_heart.png"></button>
          {% endif %}
          {% if request.user.username == post.author.username%}
            <button class="btn delete float-right" name="redirect_url" value="{{request.path}}" formaction="/deletepost/{{post.id}}/">Delete post</button>
          {% endif %}
          {% if post.liked.count == 1 %}
            <div> {{post.liked.count}} like</div>
          {% else %}
            <div> {{post.liked.count}} likes</div>
          {% endif %}
        </form>
        {% endif %}
        <p class="card-text"><strong>{{post.author.username}}</strong> {{post.caption}}</p>
      </div>
      </div>
    </div>
    <br/>   
    {% endfor %}
  </div>
</ul>
{% endblock content %}