{% extends "base.html" %}
{% block content %}
<br>
  
<ul>
  <div class='feed_items' >
    {% for post in object_list %}
    <div class="card" style="width: 30rem;">
      <a href="/postdetail/{{post.id}}/"><img src="{{ post.image_file.url }}" 
        class="card-img-top" alt="{{ post.caption }}"></a>
      <div class="card-body">
        <h5 class="card-title">{{post.caption}}</h5>
      </div>
    
      <div class="card-body">
        {% if request.user.is_authenticated %}
        <form method="post">
          {% csrf_token %}

          {% if not request.user in post.liked.all %}
            <button name="redirect_url" value="{{request.path}}" formaction="/like/{{post.id}}/">Like</button>
          {% else %}
            <button name="redirect_url" value="{{request.path}}" formaction="/unlike/{{post.id}}/">Unlike</button>
          {% endif %}

          {% if request.user.username == post.author.username%}
            <button name="redirect_url" value="{{request.path}}" formaction="/deletepost/{{post.id}}/">Delete post</button>
          {% endif %}
        </form>

        {% if post.liked.count == 1 %}
          <div> {{post.liked.count}} like</div>
        {% else %}
          <div> {{post.liked.count}} likes</div>
        {% endif %}
      {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</ul>

{% endblock content %}
